.home {
  margin: 0 5rem;
  background-color: #f4feff;
}

.home--header {
  padding: 2rem;
}

.w3-top {
  position: sticky;
  top: 0;
  z-index: 100;
}

#SideBalr {
  margin-top: "3rem";
  margin-left: "23rem";
  margin-right: "7rem";
  background-color: green;
}
/* on extra small devices */
@media (max-width: 768px) {
  .SideBar {
    margin: 20% 5%;
  }
}

/*  */
@media (max-width: 480px) {
  .SideBar {
    margin: 20% 5%;
  }
}
